.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-between;
  
}
body{
  background: url("https://image.shutterstock.com/image-photo/bursting-galaxy-elements-this-image-260nw-1024633576.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
img{
  border: red 10px groove;
  width: 500px;
}
p{
  color: white;
}
h1{
  color: white;
}
h3{
  color: white;
}
h4{
  color:white;
}
#userChoice{
  background-color: black;
}
#computerChoice{
  background-color: black;
}
